{
  "extends": ["@html-validate"],

{% if overrides %}
  "overrides": [
{% if typescript %}
    {
      "files": "*.ts",
      "extends": ["@html-validate/eslint-config/typescript"]
    },
{% endif %}
{% if jest %}
    {
      "files": "*.spec.[jt]s",
      "extends": ["@html-validate/eslint-config/jest"]
    },
{% endif %}
  ]
{% endif %}
}
